appnope
asgiref
astroid
asttokens
backcall
click
decorator
dill
Django
executing
jedi
lazy-object-proxy
matplotlib-inline
packaging
parso
pathspec
pexpect
pickleshare
platformdirs
prompt-toolkit
ptyprocess
pure-eval
pycodestyle
Pygments
six
sqlparse
stack-data
tomlkit
traitlets
wcwidth
wrapt
